.row
  .text-center.col-xs-12
    %h1 Events
.row
  .col-xs-12
    - if events.empty?
      .text-center
        %h4 You are not part of any event yet.
    -else
      - events.each do |event|
        .event
          %h1
            = event
            %small= event.status
          = event.path_for(current_user)
