.sign-in-box {
  margin-top: 40px;
}

.sign-in-dev-link {
  margin-top: 30px;
}

.twitter-github-links {
  margin-top: 30px;
}

.heading {
  margin-bottom: 1rem;
}

.profile-label-description {
  margin-bottom: 4rem;
}

.profile-description {
  height: 12rem;
  margin-bottom: 1rem;
}

.dropdown {
  font-size: 1.8rem;
}

.dropdown-menu {
  font-size: 1.5rem;
}

.event-links {
  margin: 0 auto 3rem;
}

.datatable-condensed th {
  padding-right: 0px;
}

#reviewer-proposals.datatable {
  padding-right: 0px;
}

.number_filter {
  width: 7rem;
}

.text_filter {
  width: 10rem;
}

.event-guidelines {
  margin-top: 5rem;
}


.markdown h2 {
  font-size: 2.3rem; /* sizeof(h4) */
}

.markdown h3 {
  font-size: 2.3rem; /* sizeof(h4) */
}

.stats {
  margin-top: 5rem;
}
