.sign-in-box {
  margin-top: 40px;
}

.sign-in-dev-link {
  margin-top: 30px;
}

.twitter-github-links {
  margin-top: 30px;
}

.fixed-nav-padding {
  padding-top: 7rem;
}

.profile-heading {
  margin-bottom: 4rem;
}

.profile-label-description {
  margin-bottom: 4rem;
}

.profile-description {
  height: 10rem;
  margin-bottom: 1rem;
}

label {
  font-size: 1.5rem;
}
